/* src/styles/global.css */

/* Define Radnika Next font */
@font-face {
  font-family: "RadnikaNext-Regular";
  src: url("/fonts/radnika-next/radnika-next-medium.eot");
  src: url("/fonts/radnika-next/radnika-next-medium.eot?#iefix") format("embedded-opentype"),
       url("/fonts/radnika-next/radnika-next-medium.woff2") format("woff2"),
       url("/fonts/radnika-next/radnika-next-medium.woff") format("woff"),
       url("/fonts/radnika-next/radnika-next-medium.ttf") format("truetype"),
       url("/fonts/radnika-next/radnika-next-medium.svg#youworkforthem") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RadnikaNext-Medium";
  src: url("/fonts/radnika-next/radnika-next-medium.eot");
  src: url("/fonts/radnika-next/radnika-next-medium.eot?#iefix") format("embedded-opentype"),
       url("/fonts/radnika-next/radnika-next-medium.woff2") format("woff2"),
       url("/fonts/radnika-next/radnika-next-medium.woff") format("woff"),
       url("/fonts/radnika-next/radnika-next-medium.ttf") format("truetype"),
       url("/fonts/radnika-next/radnika-next-medium.svg#youworkforthem") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* Optional: Set a fallback */
body {
  font-family: 'Radnika Next', 'Inter', sans-serif;
}
