import Layout from '../layouts/Layout.astro';

const primaryColors = [
  {
    name: 'Vibrant Green',
    hex: '#15eda3',
  },
  {
    name: 'Deep Teal',
    hex: '#127780',
  },
  {
    name: 'Bold Turquoise',
    hex: '#0fc083',
  },
  {
    name: 'Pure White',
    hex: '#ffffff',
  }
];

const secondaryColors = [
  {
    name: 'Luminous Aqua',
    hex: '#2cffb7',
  },
  {
    name: 'Cool Ocean Blue',
    hex: '#30c6d3',
  },
  {
    name: 'Deep Space Green-Blue',
    hex: '#0c4d53',
  }
];

<Layout description="Style guide for Green Orbit" title="Styleguide">
  <header class="py-16 lg:py-20">
    <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Styleguide</h1>
    </div>
  </header>

  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-16">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Primary Colors</h2>
        <div class="grid grid-cols-2 gap-12 sm:grid-cols-4">
          {primaryColors.map((color) => (
            <div class="relative flex">
              <div class="flex flex-col gap-2">
                <div
                  class="h-16 w-16 rounded-md"
                  style={`background-color: ${color.hex}`}
                />
                <div class="text-sm font-medium">{color.name}</div>
              </div>
            </div>
          ))}
        </div>
      </div>

      <div class="flex flex-col gap-16 mt-16">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Secondary Colors</h2>
        <div class="grid grid-cols-2 gap-12 sm:grid-cols-4">
          {secondaryColors.map((color) => (
            <div class="relative flex">
              <div class="flex flex-col gap-2">
                <div
                  class="h-16 w-16 rounded-md"
                  style={`background-color: ${color.hex}`}
                />
                <div class="text-sm font-medium">{color.name}</div>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
</Layout>
